{% if entry.heroBuilder|length %}

        {% for heroKey, row in entry.heroBuilder.all() %}

            {% set width = row.heroWidth ?? '' %}
            {% set contentWidth = row.contentWidth ?? '' %}
            {% set height = row.heroHeight ?? '' %}
            {% set gridGap = row.gridGap ?? '' %}

            {% set overlay = row.overlay ?? '' %}
            {% set overlayType = row.overlayType ?? '' %}
            {% set opacity = row.opacity ?? '' %}
            {% set blendMode = row.blendMode ?? '' %}
            {% set textColour = row.textColour ?? '' %}
            {% set paddingTop = row.paddingTop ?? '' %}
            {% set paddingBottom = row.paddingBottom ?? '' %}
            {% set layout = row.layout  ?? '' %}

            <section id="hero" class="grid-row {{ row.type.handle }}">

            {% switch row.type.handle %}
                {% case 'static' %}

                    <div class="grid hero-content
                        {{ contentWidth }}
                        {{ layout }}
                        {{ height }}
                        {{ gridGap }}
                        {{ paddingTop }}
                        {{ paddingBottom }}
                        ">
                        {% if row.heroContent|length %}
                            {% set repeater = row.heroContent.one().heroBlock %}
                            {% for blockKey, block in repeater.all() %}
                                {% include '_layouts/_hero-blocks/_'~ block.type.handle~'.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="grid hero-media
                        {{ width }}
                        {{ height }}
                        {{ overlay }}
                        {{ opacity }}
                        {{ overlayType }}
                        {{ blendMode }}
                        {{ paddingTop }}
                        {{ paddingBottom }}
                        ">
                        {% set media = row.media.one() %}
                        {% if media %}
                            {% if media.extension == 'jpg' or media.extension == 'png' or media.extension == 'jpeg' %}
                                {% set image = media %}
                                {% include '_layouts/_block-partials/_hero-image.twig' %}
                            {% endif %}
                            {% if media.extension == 'json' %}
                                {% include '_layouts/_block-partials/_hero-video.twig' %}
                            {% endif %}
                        {% endif %}
                    </div>


                {% case 'heroSlides' %}

                    {% set arrowsOptions = row.arrows ?? ' ' %}
                    {% set navigation = row.navigation ?? '' %}
                    {% set autoplay = row.autoplay ? 'true' : 'false' %}
                    {% if navigation == 'false' %}{% set dots = 'false' %}{% else %}{% set dots = 'true' %}{% endif %}
                    {% if arrowsOptions == 'false' %}{% set arrows = 'false' %}{% else %}{% set arrows = 'true' %}{% endif %}

                    {% set repeater = row.slides.all() %}
                    <div class="no-grid slides hero-slider
                                {{ width }}
                                {{ height }}
                                {{ overlay }}
                                {{ opacity }}
                                {{ overlayType }}
                                {{ blendMode }}
                                {{ navigation }}
                                {{ arrowsOptions }}
                                "
                         data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows":{{ arrows }},"dots":{{ dots }},"autoplay":{{ autoplay }} }'>
                        {% for slideBlock in repeater %}
                            <div title="{{ slideBlock.slideTitle }}"
                                 class="{{ paddingTop }} {{ paddingBottom }}">
                                <div class="slide-content {{ gridGap }} {{ contentWidth }}">
                                    {% if slideBlock.slideContent|length %}
                                        {% set repeater = slideBlock.slideContent.all() %}
                                        {% for blockKey, block in repeater %}
                                            {% include '_layouts/_hero-blocks/_'~ block.type.handle~'.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="slide-media">
                                    {% set media = slideBlock.slideMedia.one() %}
                                    {% if media|length %}
                                        {% if media.extension == 'jpg' or media.extension == 'png' or media.extension == 'jpeg' %}
                                            {% set image = media %}
                                            {% include '_layouts/_block-partials/_hero-image.twig' %}
                                        {% endif %}
                                        {% if media.extension == 'json' %}
                                            {% include '_layouts/_block-partials/_hero-video.twig' %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% case 'angleSlider' %}
                    <div class="no-grid slides angle-slider large xxx-wide single-item">
                        {% set repeater = row.slides.all() %}
                        {% for slideKey, slideBlock in repeater %}
                            <div title="" class="">
                                <div class="slide-content bg-light-main">
                                    <div>
                                        {{ slideBlock.slideTitle }}
                                        <div class="button-wrap right">
                                            <a class="ghost button " href="{{ slideBlock.slideLink.getUrl() }}"
                                               target="{{ slideBlock.slideLink.getTarget() }}">{{ slideBlock.slideLink.customText ? slideBlock.slideLinkcustomText : slideBlock.slideLink.defaultText }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-media">
                                    {% set media = slideBlock.slideMedia.one() %}
                                    {% if media|length %}
                                        {% if media.extension == 'jpg' or media.extension == 'png' or media.extension == 'jpeg' %}
                                            {% set image = media %}
                                            {% include '_layouts/_block-partials/_hero-image.twig' %}
                                        {% endif %}
                                        {% if media.extension == 'json' %}
                                            {% include '_layouts/_block-partials/_hero-video.twig' %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="progressBarContainer">
                        {% for slideKey, slideBlock in repeater %}
                            <div class="item">
                                <span data-slick-index="{{ slideKey }}" class="progressBar"></span>
                            </div>
                        {% endfor %}
                    </div>

                {% case 'split' %}

                    <section id="para-wrap" class="no-grid">
                        <section id="backGround">
                            {% for image in row.heroImage.all() %}
                                {% set imgStyles = "background-image: url('" ~ image.getUrl() ~ "');"|raw %}
                                {% if image.hasFocalPoint %}
                                    {% set x = image.focalPoint | first * 100 ~ '%' %}
                                    {% set y = image.focalPoint | last * 100 ~ '%' %}
                                    {% set imgStyles = imgStyles ~ ' background-position: ' ~ [x, y]|join(' ') %}
                                {% endif %}
                                <div class="image-wrap">
                                    <div class="img" style="{{ imgStyles is defined ? imgStyles }};"></div>
                                </div>
                            {% endfor %}
                        </section>
                    </section>

                    <div class="hero-text no-grid stack stack-extra-large bottomLeft pad-700-large-tablet pad-top-400 pad-bottom-700 ">
                        {{ row.text  }}
                        <div class="stack stack-small">
                            <p class="sub-text">PUBLISHED</p>
                            <p class="sub-text"><strong>{{ entry.postDate | date("F d Y") }}</strong></p>
                        </div>
                    </div>


                {% endswitch %}

                {% if row.advancedOptions %}
                    {% set share = row.advancedOptions[0].shareButton ? true : false %}
                    {% if share == 'true' %}
                        <!-- AddToAny BEGIN -->
                        <div class="hero-share">
                            <a class="a2a_dd" href="https://www.addtoany.com/share">Share</a>
                            <script>
                                var a2a_config = a2a_config || {};
                                a2a_config.onclick = 1;
                            </script>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                        </div>
                        <!-- AddToAny END -->
                    {% endif %}
                {% endif %}
                {% if row.advancedOptions %}
                    {% set contact = row.advancedOptions[0].contactButton ? true : false %}
                    {% if contact == 'true' %}
                        <div class="hero-contact">
                            <a href="#popup-contact" class="open-contact-popup"><span class="fa fa-phone"></span></a>
                        </div>
                        <div id="popup-contact" class="contact-popup mfp-hide">
                            <div class="stack">
                                {{ siteMeta.contactPopupContent ?? '' }}
                                {% if siteMeta.email %}
                                    <p>Email: <a href="tel:{{ siteMeta.email }}" target="_blank">{{ siteMeta.email }}</a>
                                    </p>
                                {% endif %}
                                {% if siteMeta.phone %}
                                    <p>Tel: <a href="tel:{{ siteMeta.phone }}" target="_blank">{{ siteMeta.phone }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </section>

        {% endfor %}

{% endif %}
